.slider {
  width: 100px;
}

.slider2 {
    width:200px;
}

.slider > .dragger {
  background: #333;
  width: 18px;
  height: 18px;
}

.slider > .track, .slider > .highlight-track {
  background: #ccc;
  height: 18px;
}

